/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red ; */
    box-sizing: border-box;
}
:root{
    /* Natural */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(220, 91%, 8%);

    /* orange */
    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    /* Gradient */
    --gradient-text-start: hsl(7, 86%, 67%);
    --gradient-text-end: hsl(0, 0%, 100%);

    --gradient-text-start: hsl(0, 0%, 100%);
}

img{
    max-width: 100%;
    display: block;
}

body{
    background-color: var(--neutral-900);
    color: #fff;
    min-height: 100vh;
    font-family: 'Inconsolata',sans-serif;
}
.image-container{
    background: url(images/background-desktop.png) no-repeat center / cover;
    width: 100%;
    height: 100vh;
    position: relative;
    aspect-ratio: 16 /9;
    overflow-y: hidden;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
}

.svg-img{
    position: absolute;
}
.svg-img:nth-child(1){
    width:100%;
}
.svg-img:nth-child(1) img{
    width:100%;
}
.svg-img:nth-child(2){
   top: 100px;
   right:0;
}
.svg-img:nth-child(3){
   left: 0;
   bottom: 0;
 }
 .svg-img:nth-child(4){
    top: -100px;
    left:100px;
 }
 .svg-img:nth-child(5){
    top:50%;
    right:350px;
 }
 .logo{
    margin: auto;
    padding: auto;
 }

 .headings {
    text-align: center;
 }
.headings h1{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.headings p{
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.gradient-text {
    background: linear-gradient(to right, var(--gradient-text-start), var(--gradient-text-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* .gradient-text{
    background: var(--gradient-text-start);
    background: linear-gradient(to right, var(--gradient-text-start) 10%, var(--gradient-text-end) 100%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.header-email{
    color : var(--orange-500)
}
.form-content{
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    margin: auto;
    position: relative;
    z-index: 20;
}

.form-content.hide{
    display: none;
}
.form-content.logo{
    margin: 0 auto 2rem auto;
    
}
.form-item{
    margin-bottom: 1.5rem;
}
.form-item label {
    margin-bottom: .5rem;
    display: block;
}
.form-item input{
  background-color: hsla(245, 15%, 58%, 0.2);
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  color: var(--neutral-0);
  width: 100%;
  padding: 1rem .5rem;
  display: block;
  border: 1px solid var(--neutral-300);
  border-radius: .5rem;
  transition: all 200ms ease;
}

.form-item input:hover{
    background-color: hsla(245, 15%, 58%, 0.6);
}

.form-item input.error{
    border: 1px solid var(--neutral-500);
}

.form-item .upload-hint{
    color: var(--neutral-300);
    font-size: .9rem;
    display: flex;
    gap: .5rem;
}
.form-item .upload-hint.error{
    color: var(--orange-500);
}
.form-item .text-hint{
    color: var(--neutral-300);
   font-size: .9rem; 
   display: none;
   gap: .5rem;
}
.form-item .text-hint.error{
    color: var(--orange-500);
    display: flex;
}
.form-item .upload-box{
    cursor: pointer;
    background-color: hsl(220, 91%, 8%);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    color: var(--neutral-300);
    padding: 1rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px  dashed var(--neutral-500);
    border-radius: .35rem;
    transition: all 200ms ease;

}
.form-item .upload-box:hover{
    background-color: hsla(245, 15%, 58%, 0.6);
}
.form-item .upload-box .file-input{
    display: none;
}

.form-item .upload-box .uploaded-image{
    background-color: var(--neutral-700);
    width: 50px;
    height: 50px;
    margin-bottom: .5rem;
    border: 1px solid var(--neutral-500);
    border-radius: .5rem;
    display:grid;
    place-content: center;
}

.form-item .upload-box .uploaded-image img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.form-item .upload-box .message-action.hidde{
    display: none;

}

.form-item .upload-box .message-action button{
    cursor: pointer;
    background-color:hsla(245, 15%, 58%, 0.6);
    color: var(--neutral-300);
    padding: .35rem;
    border: 0;
    border-radius: .25rem;
}
.form-item .upload-box .file-action{
    display: none;
}

.form-item .upload-box .file-action.show{
    display: block;
}
.form-item .upload-box .file-action button{
    cursor: pointer;
    background-color: var(--neutral-500);
    color: var(--neutral-300);
    padding: .25rem .5rem;
    border-radius: .35rem;

}
form .generator-ticket{
    cursor: pointer;
    background-color: var(--orange-500);
    padding: 1rem;
    width: 100%;
    font-size: 1.15rem;
    font-weight: 700;
    border-radius: .75rem;
    border: 0;
    transition: all 200ms ease;
}

form .generator-ticket:hover{
    background-color: var(--orange-700);
}

.display-data{
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    margin: auto;
    position: relative;
    z-index: 20;
}

.display-data .headings{
    margin-bottom:6rem;

}

.display-data .headings p{
    padding: 0 7.5rem ;
}
.display-data .ticket-container{
    background-color: var(--neutral-900);
    background: url(images/pattern-ticket.svg);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9 ;
    max-width: 500px;
    padding: 1rem;
    margin: auto;
    position: relative;
    border-radius: .5rem;
}

.display-data .ticket-container .logo{
    margin-bottom: .5rem;
    font-size: 2.75rem;
    font-weight: 700;
    display: flex;
    align-items:center;
    gap: 1rem;
}
.display-data .ticket-container .date{
    color: var(--neutral-300);
    padding-left: 3.5rem;
    margin-bottom: 4rem;

}

.display-data .ticket-container .ticket-user{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.display-data .ticket-container .ticket-user img{
    width: 65px;
    border-radius: .75rem;
}

.display-data .ticket-container .ticket-user #display-name{
    font-size: 1.5rem;
    font-weight: 600;

}
.display-data .ticket-container .ticket-user .github-username{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.display-data .ticket-container .ticket-user .github-username img{
    width: 20px;
}

.display-data .ticket-container .ticket-number{
    color: var(--neutral-300);
    font-size: 1.75rem;
    position: absolute;
    right: 5px;
    top: 36%;
    transform: rotate(90deg);
}
/* main-section */
@media (max-width: 540px) {
    .image-container {
        height: auto;
        aspect-ratio: auto;
        overflow-y: visible;
    }

    .content-container {
        padding: 1rem;
    }

    .form-content {
        width: 100%;
        padding: 0.5rem;
    }

    .form-item input {
        padding: 0.75rem 0.5rem;
    }

    .display-data .ticket-container {
        max-width: 100%;
        padding: 0.5rem;
    }

    .display-data .ticket-container .logo {
        font-size: 2rem;
    }

    .display-data .ticket-container .date {
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }

    .display-data .ticket-container .ticket-user img {
        width: 50px;
    }

    .display-data .ticket-container .ticket-user #display-name {
        font-size: 1.25rem;
    }

    .display-data .ticket-container .ticket-number {
        font-size: 1.5rem;
        right: 2px;
        top: 30%;
    }

    .svg-img:nth-child(2) {
        top: 50px;
    }

    .svg-img:nth-child(4) {
        top: -80px;
        left: -30px;
    }
}

/* data-section */

@media (max-width: 540px) {
    .image-container {
        height: auto;
        aspect-ratio: auto;
        overflow-y: visible;
    }

    .headings h1 {
        font-size: 2rem;
    }

    .headings p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .form-content {
        width: 100%;
        padding: 0.5rem;
    }

    .form-item input {
        padding: 0.75rem 0.5rem;
    }

    .display-data .headings p {
        padding: 0 1rem;
    }

    .display-data .ticket-container {
        max-width: 100%;
        padding: 0.5rem;
    }

    .display-data .ticket-container .logo {
        font-size: 2rem;
    }

    .display-data .ticket-container .date {
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }

    .display-data .ticket-container .ticket-user img {
        width: 50px;
    }

    .display-data .ticket-container .ticket-user #display-name {
        font-size: 1.25rem;
    }

    .display-data .ticket-container .ticket-number {
        font-size: 1.5rem;
        right: 2px;
        top: 30%;
    }

    .svg-img:nth-child(2) {
        top: 50px;
    }

    .svg-img:nth-child(4) {
        top: -80px;
        left: -30px;
    }
}

/* @media (max-width:540px) {
    .svg-img:nth-child(2){
        top: 50px;
    }
    
    .svg-image:nth-child(4){
        top: -80px;
        left: -30px;
    }
} */

